In [1]:
from rock_algorithm import RockAlgorithm
from data_point import DataPoint
import pandas as pd

In [31]:
a = [1,0,1,0,1]
b = [1,0,1,0,0]
c = [0,0,0,1,0]
d = [1,1,1,1,1]
e = [0,1,1,0,0]

In [32]:
dps = []
dps.append(DataPoint('0',a))
dps.append(DataPoint('1',b))
dps.append(DataPoint('2',c))
dps.append(DataPoint('3',d))
dps.append(DataPoint('4',e))

In [33]:
rock = RockAlgorithm(dps,1,0.2)
dnd = rock.cluster()

In [34]:
# creating an empty membership dataframe
index = range(len(dps))
iterations = range(len(dnd.entry_map))
df = pd.DataFrame(index=index, columns=iterations)
df.fillna(0, inplace=True)

In [35]:
# filling the dataframe with the membership info
# for each iteration

iterations = list(dnd.entry_map)

for it in range(len(iterations)):
    all_clusters = list(iterations[it].get_all_clusters())
    clusters_id = range(len(all_clusters))
    for cluster in clusters_id:
        data_points = all_clusters[cluster].get_data_points()
        for index in data_points:
            df.loc[[index],[it]] = cluster

In [36]:
df

   0  1  2  3  4
0  0  3  2  0  0
1  3  3  2  0  0
2  1  1  1  1  0
3  4  0  1  1  0
4  2  2  0  0  0